@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.logo {
    padding: 0px 20px !important;
}
.hero-text{
    font-size: 0.8em;  
}
.input-field{
    width:70%;
    height: 50px!important;
    padding:0px!important;
    position: absolute;
    /* margin-left:15%!important; */
    margin:10px 18%!important;
    background: #f1f3f4;
    
}
.text-justify{
    text-align: justify;
}
.search-icon{
    height: 100%;
    font-size: 2em!important;
}
.close-icon {
    height: 100%;
    margin-top: -5px!important;
    font-size: 1.5em !important;
}
.label-icon{
    margin-top:-5px!important;
}
/* .search{
    padding:10px 0px;
} */
.row{
    width: 90%;
    padding:20px 10px;
    min-height: calc(90vh - 74px);
}
.hero-icon{
    font-size: 1.25em;
}
nav{
    font-family: 'Poppins';
    min-height: 70px;
}
nav .brand-logo i,
nav .brand-logo [class^="mdi-"],
nav .brand-logo [class*="mdi-"],
nav .brand-logo i.material-icons {
    font-size: 1.25em;
}
.page-footer{
    position: relative;
    bottom: 0;
    width: 100%;
}

/* CUSTOM SCROLLBAR */

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background:#2196F3;
    border-radius: 50px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #64B5F6;

}